<!DOCTYPE html>
<html>
  <head>
    <title>Inpirations</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <p class="navbar-text pull-right">
    <% if user_signed_in? %>
      Logined as <strong><%= current_user.uid %></strong>
      | <%= link_to "Logout", destroy_user_session_path, class: 'navbar-link' %>
    <% else %>
      <%= link_to "Facebook Login", user_omniauth_authorize_path(:facebook), class: 'navbar-link' %>
    <% end %>
    </p>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>

    <%= yield %>

  </body>
</html>
